body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../逻辑_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:23px;
    width:340px;
    height:567px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:567px;
}

.u1 {
    position:absolute;
    left:2px;
    top:276px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:20px;
    top:23px;
    width:340px;
    height:567px
}

.u2_original {
    background-image: url('../逻辑_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:60px;
    top:135px;
    width:230px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:41px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:60px;
    top:135px;
    width:230px;
    height:35px
}

.u4_original {
    background-image: url('../逻辑_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:70px;
    top:138px;
    width:28px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:25px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:70px;
    top:138px;
    width:28px;
    height:25px
}

.u6_original {
    background-image: url('../逻辑_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:105px;
    top:135px;
    width:152px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:30px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:105px;
    top:135px;
    width:152px;
    height:30px
}

.u8_original {
    background-image: url('../逻辑_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:260px;
    top:140px;
    width:27px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:20px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:260px;
    top:140px;
    width:27px;
    height:20px
}

.u10_original {
    background-image: url('../逻辑_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:66px;
    top:173px;
    width:240px;
    height:121px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:121px;
}

.u11 {
    position:absolute;
    left:2px;
    top:52px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:66px;
    top:173px;
    width:240px;
    height:121px
}

.u12 {
    position:absolute;
    left:138px;
    top:262px;
    width:90px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_original {
    background-image: url('../逻辑_files/u10_original.png');
}

.u13_container {
    position:absolute;
    left:67px;
    top:298px;
    width:240px;
    height:121px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:121px;
}

.u14 {
    position:absolute;
    left:2px;
    top:52px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:67px;
    top:298px;
    width:240px;
    height:121px
}

.u15 {
    position:absolute;
    left:139px;
    top:387px;
    width:90px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../逻辑_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:300px;
    top:154px;
    width:100px;
    height:3px;
}

.u16 {
    position:absolute;
    left:300px;
    top:154px;
    width:100px;
    height:3px
}

.u17_original {
    background-image: url('../逻辑_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:410px;
    top:150px;
    width:270px;
    height:270px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:276px;
}

.u18 {
    position:absolute;
    left:2px;
    top:127px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:410px;
    top:150px;
    width:270px;
    height:270px
}

.u19 {
    position:absolute;
    left:420px;
    top:160px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:429px;
    top:240px;
    width:30px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:429px;
    top:240px;
    width:30px;
    height:30px
}

.u22_original {
    background-image: url('../逻辑_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:430px;
    top:190px;
    width:180px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:430px;
    top:190px;
    width:180px;
    height:30px
}

.u24 {
    position:absolute;
    left:625px;
    top:192px;
    width:40px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:470px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u26_container {
    position:absolute;
    left:429px;
    top:280px;
    width:30px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:429px;
    top:280px;
    width:30px;
    height:30px
}

.u28 {
    position:absolute;
    left:470px;
    top:290px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:508px;
    top:246px;
    width:110px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:510px;
    top:284px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_line {
    background-image: url('../逻辑_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:580px;
    top:294px;
    width:20px;
    height:3px;
}

.u31 {
    position:absolute;
    left:580px;
    top:294px;
    width:20px;
    height:3px
}

.u32 {
    position:absolute;
    left:610px;
    top:284px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u33_container {
    position:absolute;
    left:429px;
    top:320px;
    width:30px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:429px;
    top:320px;
    width:30px;
    height:30px
}

.u35 {
    position:absolute;
    left:470px;
    top:330px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:510px;
    top:328px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37_line {
    background-image: url('../逻辑_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:580px;
    top:338px;
    width:20px;
    height:3px;
}

.u37 {
    position:absolute;
    left:580px;
    top:338px;
    width:20px;
    height:3px
}

.u38 {
    position:absolute;
    left:610px;
    top:328px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u39_container {
    position:absolute;
    left:429px;
    top:370px;
    width:30px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:429px;
    top:370px;
    width:30px;
    height:30px
}

.u41 {
    position:absolute;
    left:470px;
    top:380px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:510px;
    top:378px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:640px;
    top:160px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../逻辑_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:300px;
    top:494px;
    width:100px;
    height:3px;
}

.u44 {
    position:absolute;
    left:300px;
    top:494px;
    width:100px;
    height:3px
}

.u45_original {
    background-image: url('../逻辑_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:410px;
    top:480px;
    width:270px;
    height:60px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:66px;
}

.u46 {
    position:absolute;
    left:2px;
    top:22px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:410px;
    top:480px;
    width:270px;
    height:60px
}

.u47_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u47_container {
    position:absolute;
    left:420px;
    top:485px;
    width:30px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:420px;
    top:485px;
    width:30px;
    height:30px
}

.u49 {
    position:absolute;
    left:420px;
    top:520px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u50_container {
    position:absolute;
    left:467px;
    top:485px;
    width:30px;
    height:30px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u51 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:467px;
    top:485px;
    width:30px;
    height:30px
}

.u52 {
    position:absolute;
    left:464px;
    top:520px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u53_container {
    position:absolute;
    left:524px;
    top:485px;
    width:30px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:524px;
    top:485px;
    width:30px;
    height:30px
}

.u55 {
    position:absolute;
    left:515px;
    top:520px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u56_container {
    position:absolute;
    left:579px;
    top:485px;
    width:30px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:579px;
    top:485px;
    width:30px;
    height:30px
}

.u58 {
    position:absolute;
    left:579px;
    top:520px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_original {
    background-image: url('../逻辑_files/u20_original.png');
}

.u59_container {
    position:absolute;
    left:630px;
    top:485px;
    width:30px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:630px;
    top:485px;
    width:30px;
    height:30px
}

.u61 {
    position:absolute;
    left:630px;
    top:520px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../逻辑_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:280px;
    top:444px;
    width:440px;
    height:3px;
}

.u62 {
    position:absolute;
    left:280px;
    top:444px;
    width:440px;
    height:3px
}

.u63_original {
    background-image: url('../逻辑_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:30px;
    top:610px;
    width:258px;
    height:392px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:392px;
}

.u64 {
    position:absolute;
    left:2px;
    top:188px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:30px;
    top:610px;
    width:258px;
    height:392px
}

.u65_line {
    background-image: url('../逻辑_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:84px;
    top:160px;
    width:3px;
    height:440px;
}

.u65 {
    position:absolute;
    left:84px;
    top:160px;
    width:3px;
    height:440px
}

.u66_original {
    background-image: url('../逻辑_files/u66_original.png');
}

.u66_container {
    position:absolute;
    left:731px;
    top:130px;
    width:259px;
    height:349px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:259px;
    height:349px;
}

.u67 {
    position:absolute;
    left:2px;
    top:166px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:731px;
    top:130px;
    width:259px;
    height:349px
}

.u68_original {
    background-image: url('../逻辑_files/u68_original.png');
}

.u68_container {
    position:absolute;
    left:731px;
    top:434px;
    width:256px;
    height:69px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:69px;
}

.u69 {
    position:absolute;
    left:2px;
    top:26px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:731px;
    top:434px;
    width:256px;
    height:69px
}

.u70_original {
    background-image: url('../逻辑_files/u70_original.png');
}

.u70_container {
    position:absolute;
    left:730px;
    top:502px;
    width:253px;
    height:309px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:253px;
    height:309px;
}

.u71 {
    position:absolute;
    left:2px;
    top:146px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:730px;
    top:502px;
    width:253px;
    height:309px
}

.u72_original {
    background-image: url('../逻辑_files/u72_original.png');
}

.u72_container {
    position:absolute;
    left:730px;
    top:812px;
    width:259px;
    height:48px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:259px;
    height:48px;
}

.u73 {
    position:absolute;
    left:2px;
    top:16px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:730px;
    top:812px;
    width:259px;
    height:48px
}

.u74_original {
    background-image: url('../逻辑_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:780px;
    top:135px;
    width:150px;
    height:26px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:780px;
    top:135px;
    width:150px;
    height:26px
}

.u76 {
    position:absolute;
    left:814px;
    top:140px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../逻辑_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:940px;
    top:464px;
    width:150px;
    height:3px;
}

.u77 {
    position:absolute;
    left:940px;
    top:464px;
    width:150px;
    height:3px
}

.u78_line {
    background-image: url('../逻辑_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:940px;
    top:574px;
    width:150px;
    height:3px;
}

.u78 {
    position:absolute;
    left:940px;
    top:574px;
    width:150px;
    height:3px
}

.u79_original {
    background-image: url('../逻辑_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:1092px;
    top:127px;
    width:258px;
    height:393px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:393px;
}

.u80 {
    position:absolute;
    left:2px;
    top:188px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:1092px;
    top:127px;
    width:258px;
    height:393px
}

.u81_original {
    background-image: url('../逻辑_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:1090px;
    top:538px;
    width:237px;
    height:122px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:122px;
}

.u82 {
    position:absolute;
    left:2px;
    top:53px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:1090px;
    top:538px;
    width:237px;
    height:122px
}

.u83_original {
    background-image: url('../逻辑_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:1140px;
    top:550px;
    width:150px;
    height:29px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:29px;
}

.u84 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1140px;
    top:550px;
    width:150px;
    height:29px
}

.u85_line {
    background-image: url('../逻辑_files/u85_line.png');
}

.u85_line {
    position:absolute;
    left:1230px;
    top:284px;
    width:160px;
    height:3px;
}

.u85 {
    position:absolute;
    left:1230px;
    top:284px;
    width:160px;
    height:3px
}

.u86_line {
    background-image: url('../逻辑_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:754px;
    top:840px;
    width:3px;
    height:170px;
}

.u86 {
    position:absolute;
    left:754px;
    top:840px;
    width:3px;
    height:170px
}

.u87_line {
    background-image: url('../逻辑_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:914px;
    top:840px;
    width:3px;
    height:80px;
}

.u87 {
    position:absolute;
    left:914px;
    top:840px;
    width:3px;
    height:80px
}

.u88_line {
    background-image: url('../逻辑_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:804px;
    top:840px;
    width:3px;
    height:110px;
}

.u88 {
    position:absolute;
    left:804px;
    top:840px;
    width:3px;
    height:110px
}

.u89_line {
    background-image: url('../逻辑_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:964px;
    top:840px;
    width:3px;
    height:80px;
}

.u89 {
    position:absolute;
    left:964px;
    top:840px;
    width:3px;
    height:80px
}

.u90_line {
    background-image: url('../逻辑_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:858px;
    top:840px;
    width:3px;
    height:80px;
}

.u90 {
    position:absolute;
    left:858px;
    top:840px;
    width:3px;
    height:80px
}

.u91 {
    position:absolute;
    left:830px;
    top:931px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:780px;
    top:960px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_original {
    background-image: url('../逻辑_files/u93_original.png');
}

.u93_container {
    position:absolute;
    left:670px;
    top:991px;
    width:256px;
    height:389px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:389px;
}

.u94 {
    position:absolute;
    left:2px;
    top:186px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:670px;
    top:991px;
    width:256px;
    height:389px
}

.u95_original {
    background-image: url('../逻辑_files/u95_original.png');
}

.u95_container {
    position:absolute;
    left:934px;
    top:931px;
    width:136px;
    height:49px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:49px;
}

.u96 {
    position:absolute;
    left:2px;
    top:16px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:934px;
    top:931px;
    width:136px;
    height:49px
}

.u97_original {
    background-image: url('../逻辑_files/u97_original.png');
}

.u97_container {
    position:absolute;
    left:937px;
    top:979px;
    width:132px;
    height:42px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:42px;
}

.u98 {
    position:absolute;
    left:2px;
    top:13px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:937px;
    top:979px;
    width:132px;
    height:42px
}

.u99_original {
    background-image: url('../逻辑_files/u99_original.png');
}

.u99_container {
    position:absolute;
    left:939px;
    top:1021px;
    width:134px;
    height:41px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:41px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:939px;
    top:1021px;
    width:134px;
    height:41px
}

.u101_original {
    background-image: url('../逻辑_files/u101_original.png');
}

.u101_container {
    position:absolute;
    left:940px;
    top:1065px;
    width:133px;
    height:44px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:44px;
}

.u102 {
    position:absolute;
    left:2px;
    top:14px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:940px;
    top:1065px;
    width:133px;
    height:44px
}

.u103_original {
    background-image: url('../逻辑_files/u103_original.png');
}

.u103_container {
    position:absolute;
    left:1410px;
    top:192px;
    width:254px;
    height:38px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:254px;
    height:38px;
}

.u104 {
    position:absolute;
    left:2px;
    top:11px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:1410px;
    top:192px;
    width:254px;
    height:38px
}

.u105_original {
    background-image: url('../逻辑_files/u105_original.png');
}

.u105_container {
    position:absolute;
    left:1410px;
    top:233px;
    width:101px;
    height:95px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:95px;
}

.u106 {
    position:absolute;
    left:2px;
    top:40px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:1410px;
    top:233px;
    width:101px;
    height:95px
}

.u107 {
    position:absolute;
    left:1520px;
    top:240px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:1520px;
    top:270px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:1520px;
    top:300px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:1520px;
    top:330px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_original {
    background-image: url('../逻辑_files/u111_original.png');
}

.u111_container {
    position:absolute;
    left:1410px;
    top:350px;
    width:254px;
    height:254px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:254px;
    height:254px;
}

.u112 {
    position:absolute;
    left:2px;
    top:119px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:1410px;
    top:350px;
    width:254px;
    height:254px
}

.u113 {
    position:absolute;
    left:1330px;
    top:620px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_original {
    background-image: url('../逻辑_files/u114_original.png');
}

.u114_container {
    position:absolute;
    left:390px;
    top:570px;
    width:257px;
    height:393px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:257px;
    height:393px;
}

.u115 {
    position:absolute;
    left:2px;
    top:188px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:390px;
    top:570px;
    width:257px;
    height:393px
}

.u116_line {
    background-image: url('../逻辑_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:484px;
    top:540px;
    width:3px;
    height:120px;
}

.u116 {
    position:absolute;
    left:484px;
    top:540px;
    width:3px;
    height:120px
}

.u117_line {
    background-image: url('../逻辑_files/u117_line.png');
}

.u117_line {
    position:absolute;
    left:534px;
    top:540px;
    width:3px;
    height:470px;
}

.u117 {
    position:absolute;
    left:534px;
    top:540px;
    width:3px;
    height:470px
}

.u118_original {
    background-image: url('../逻辑_files/u118_original.png');
}

.u118_container {
    position:absolute;
    left:404px;
    top:1010px;
    width:256px;
    height:374px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:374px;
}

.u119 {
    position:absolute;
    left:2px;
    top:179px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:404px;
    top:1010px;
    width:256px;
    height:374px
}

.u120_original {
    background-image: url('../逻辑_files/u120_original.png');
}

.u120_container {
    position:absolute;
    left:403px;
    top:1244px;
    width:257px;
    height:228px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:257px;
    height:228px;
}

.u121 {
    position:absolute;
    left:2px;
    top:106px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:403px;
    top:1244px;
    width:257px;
    height:228px
}

.u122 {
    position:absolute;
    left:470px;
    top:1475px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u123_original {
    background-image: url('../逻辑_files/u123_original.png');
}

.u123_container {
    position:absolute;
    left:470px;
    top:1013px;
    width:140px;
    height:27px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:27px;
}

.u124 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:470px;
    top:1013px;
    width:140px;
    height:27px
}

.u125 {
    position:absolute;
    left:490px;
    top:1020px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

